.idea/.author_contents_storage_db
.idea/.author_contents_storage_db-shm
.idea/.author_contents_storage_db-wal
.idea/.gitignore
.idea/100 Days of Code - The Complete Python Pro Bootcamp.iml
.idea/edu_terms.xml
.idea/externalDependencies.xml
.idea/misc.xml
.idea/modules.xml
.idea/frameworkLessonHistory/storage.storageData
.idea/frameworkLessonHistory/storage.storageRecordIndex
.idea/inspectionProfiles/Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
